APP_NAME=PlatformApi
CORS_ALLOWEDHOSTS=*
ALLOWED_REDIRECT_DOMAINS=http://localhost:5173/googlecallback
DBCONNECTION_AUTH="Host=localhost;Database=hhg-platform;Username=hhg-plat-user1;Password=SuperS#cure22;"
JWT_SECRET="asfadfsafasdfadfasaf"
JWT_ISSUER=https://netstaterapp.com:8081
JWT_AUDIENCE=https://netstaterapp:8081
PERMISSION_BASEURL=https://localhost:8081
AWS_ACCESS_KEY_ID=your-access-key
AWS_SECRET_ACCESS_KEY=your-secret-key
AWS_REGION=us-east-1
AWS_SNS_TOPIC_ARN="arn:aws:sns:us-east-1:123455555454:dev-message-notifications"
AWS_SNS_ENABLED=true
EMAIL_DOMAIN="email.redclayservices.com"
EMAIL_CONFIGURATION_SET="redclay-emails"
EMAIL_DEV_MODE_CONSOLE=false
AUTH_BASE_DOMAIN=auth.myapp.local:5201
AUTH_COOKIE_DOMAIN=".myapp.local"
DEFAULT_RETURN_URL=http://ui.myapp.local:3001/home

AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_ACCESS_TOKEN_MINUTES=5
AUTH_REFRESH_TOKEN_DAYS=180